{% extends 'base.html' %}

{% block content %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

</nav>

<div class="jumbotron m-3">
    <h1 class="display-4">Projects</h1>
    <hr class="my-4">
    <p>These are the projects that I have completed over the years</p>
</div>

<main>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for project in projects %}
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{% url 'portfolio:project_detail' project.id %}">
                            <img src="{{ project.image.url }}" class="img-fluid mb-2">
                        </a>
                        <div class="card-body">
                            <p class="card-text"><strong>{{ project.title }}</strong></p>
                            <p class="card-text">{{ project.summary }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'portfolio:project_detail' project.id %}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>

{% endblock %}
