{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}
{% block content %}

<div class="bg-light p-5 rounded-lg m-3">
    <h1 style="text-align:center;" class="display-4">{{ project.title }}</h1>
    <p style="text-align:center;" class="lead">{{ project.summary }}</p>
    <hr class="my-4">
    <p>{{ project.description }}</p>

    <h3 class="display-6">Tech Stack</h3>

    <!--{% video project.url '30% x 30%' %}-->

    <div class="wrapper">
        {% video project.url 'medium' %}
    </div>

    <ul class="list-unstyled">
        <ul>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Aenean sit amet erat nunc</li>
            <li>Eget porttitor lorem</li>
        </ul>
    </ul>

</div>


{% endblock %}
