{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}
{% block content %}


<div class="jumbotron m-3">
    <h1 style="text-align:center;" class="display-4">{{ project.title }}</h1>
    <p style="text-align:center;" class="lead">{{ project.summary }}</p>
    <hr class="my-4">
    <p>{{ project.description }}</p>

    <a href="{{ project.githubUrl }}" target="_blank">
        <button type="button" class="btn btn-primary" >Github</button>
    </a>

    <div class="wrapper">
        <div class="videowrapper">

            <iframe width="900" height="506" src="{{ project.youtubeUrl }}" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>


    <h3 class="display-6">Tech Stack</h3>

    <ul class="list-unstyled">
        <ul>

            {% for item in split_tech_stack %}
            <li>{{ item|safe }}</li>
            {% endfor %}
        </ul>
    </ul>
</div>


{% endblock %}
