{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="mx-auto" style="width: 80%;margin-top: 1em;">

    {% for interest in interests %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ interest.title }}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{ interest.description }}</p>

            {% if interest.moreInfo %}
                 <a href="{% url 'interests:interest_detail' interest.id%}" class="btn btn-primary">More info</a>

            {% endif %}


        </div>

    </div>
    {% endfor%}
</div>

{% endblock %}