{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="mx-auto" style="width: 80%;margin-top: 1em;">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Title</h5>
        </div>
        <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

{% endblock %}