{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
    <div class="jumbotron m-3">
        <h1 class="display-4">Images I have made</h1>
        <hr class="my-4">
        <p>These are images I have created on photoshop</p>
    </div>
</div>

<div class="mx-auto" style="width: 80%;margin-top: 1em;">
    <div class="card" style="background-color: rgb(60, 65, 230)">
        <div class="card-body">
            <img src="{% static 'interests/bg1.jpg' %}" class="img-fluid" alt="My image">
        </div>
    </div>

    <div class="card" style="background-color: rgb(60, 65, 230)">
        <div class="card-body">
            <img src="{% static 'interests/astrospace.png' %}" class="img-fluid" alt="My image">
        </div>
    </div>

    <div class="card" style="background-color: rgb(60, 65, 230)">
        <div class="card-body">
            <img src="{% static 'interests/Borealis_Mountain.png' %}" class="img-fluid" alt="My image">
        </div>
    </div>

</div>

{% endblock %}