{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
    <div class="jumbotron m-3">
        <h1 class="display-4">Digital Art</h1>
        <hr class="my-4">
        <p>These are the images and backgrounds that I have created using Photoshop</p>
    </div>
</div>


<main>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <!--break-->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{% static 'interests/astrospace.png' %}">
                            <img src="{% static 'interests/astrospace.png' %}" class="img-fluid mb-2">
                        </a>
                    </div>
                </div>
                <!--break-->

                 <!--break-->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{% static 'interests/lion.png' %}">
                            <img src="{% static 'interests/lion.png' %}" class="img-fluid mb-2">
                        </a>
                    </div>
                </div>
                <!--break-->

                  <!--break-->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{% static 'interests/bird.jpg' %}">
                            <img src="{% static 'interests/bird.jpg' %}" class="img-fluid mb-2">
                        </a>
                    </div>
                </div>
                <!--break-->

                  <!--break-->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{% static 'interests/mountains.png' %}">
                            <img src="{% static 'interests/mountains.png' %}" class="img-fluid mb-2">
                        </a>
                    </div>
                </div>
                <!--break-->

                   <!--break-->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{% static 'interests/Batman.png' %}">
                            <img src="{% static 'interests/Batman.png' %}" class="img-fluid mb-2">
                        </a>
                    </div>
                </div>
                <!--break-->

                     <!--break-->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{% static 'interests/lion2.jpg' %}">
                            <img src="{% static 'interests/lion2.jpg' %}" class="img-fluid mb-2">
                        </a>
                    </div>
                </div>
                <!--break-->



            </div>
        </div>
    </div>

</main>


{% endblock %}