{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
    <div class="jumbotron m-3">
        <h1 id="Experiencetext">Experience</h1>
    </div>
</div>

<div class="container">
    <!-- Checkout.com -->
    <div class="jumbotron m-3">
        <h3>Checkout.com</h3>
        <p><strong>Software Engineer I</strong></p>
        <p>Mar 2023 - Present | Hybrid | London, England, United Kingdom</p>
        <p><strong>Full-time · Present</strong></p>
        <hr class="my-4">
        <p><strong>Associate Software Engineer</strong></p>
        <p>Sep 2021 - Mar 2023 | Hybrid | London, England, United Kingdom</p>
        <p><strong>Full-time · 1 yr 7 months</strong></p>
    </div>

    <!-- Arup -->
    <div class="jumbotron m-3">
        <h3>Arup</h3>
        <p><strong>Software Quality Assurance Intern</strong></p>
        <p>Jun 2016 | London, England, United Kingdom</p>
        <p><strong>Internship · 1 month</strong></p>
        <h5>Key Responsibilities:</h5>
        <ul>
            <li>Developed an add-on allowing users to upload images to the website using HTML and CSS</li>
            <li>Debugged parts of the website using browser inspection tools (Network and Console tabs)</li>
            <li>Worked closely with developers for tasks in their projects and assisted with QA</li>
        </ul>
    </div>
</div>

{% endblock %}
