{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
    <div class="jumbotron m-3">
        <h1 id="portfoliotext" style="text-align:center;">Find Me Below</h1>
        <div class="center">


            <a href="https://www.linkedin.com/in/tejaskerai" target="blank">
                <img src="{% static 'contact/LinkedInLogo.svg' %}" alt="Logo" class="iconsize"></a>


            <a href="https://github.com/tejaskerai" target="blank"><img src="{% static 'contact/GitHubLogo.svg' %}"
                                                                        alt="Logo" class="iconsize"></a>

            <a href="https://www.youtube.com/channel/UCNfVon9b2KPbE3tdtPRVDbw" target="blank"><img
                    src="{% static 'contact/YoutubeLogo.svg' %}" alt="Logo" class="iconsize"></a>

            <a href="mailto:tejas_444@hotmail.co.uk" target="blank"><img src="{% static 'contact/MailLogo.svg' %}"
                                                                         alt="Logo" class="iconsize"></a>

            <!--<a href="{% static 'portfolio/Tejas_Kerai_CV.pdf' %}" target="blank"><img-->
                    <!--src="{% static 'contact/CV.svg' %}"-->
                    <!--alt="Logo" class="iconsize"></a>-->


        </div>

    </div>
</div>

{% endblock %}