{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
    <div class="jumbotron mt-3">
        <!--<div class="row justify-content-center my-3">-->
        <!--<div class="col-3">-->
        <!--<img src="{% static 'portfolio/img.jpg' %}" class="img-fluid">-->
        <!--</div>-->
        <!--</div>-->

        <div class="text-center" >
            <img src="{% static 'portfolio/img.jpg' %}" class="img-fluid" style="max-width: 250px">
        </div>
        <h1 style="text-align:center;" id="hometext">NewHi, I'm Tejas, a recent graduate from London</h1>
        <hr class="my-4">
        <p style="text-align:center;" class="lead">I studied Computer Science at City, University of London and achieved
            a
            first class honours. Check out my page and portfolio to find out more about me</p>
    </div>
</div>


{% endblock %}