{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
    <div class="jumbotron mt-3">
        <div class="text-center">
            <img src="{% static 'portfolio/img2.jpg' %}" class="img-fluid" style="max-width: 250px">
        </div>
        <br>
        <h1 style="text-align:center;" id="hometext">Hi, I'm Tejas. A Software Engineer based in London</h1>
        <hr class="my-4">
        <p style="text-align:center;" class="lead">
            I’m currently a Software Engineer at Newday and an <a href="https://www.credly.com/badges/532ddb61-c8b8-4654-a9a1-4d77e16233f6/public_url" target="_blank">AWS Certified Developer – Associate</a>.
        </p>
        <p style="text-align:center;" class="lead">
            Explore my page and portfolio to learn more about me!
        </p>
    </div>
</div>

{% endblock %}
